
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Django
db.sqlite3
*.log
media/
staticfiles/
.env

# Virtualenv
venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Docker
*.pid
*.swp
docker-compose.override.yml
