Django==4.2
djangorestframework==3.14.0
psycopg2-binary==2.9.9
gunicorn
Django>=4.2,<5.0
psycopg2-binary>=2.9
djangorestframework
djangorestframework-simplejwt
django-cors-headers
Pillow
django-extensions>=3.2.3